In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [3]:
df = pd.read_csv('multivar.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [9]:
null_count = df["sqft_living"].isnull().sum()
null_count

0

In [17]:
columns_to_keep = ["bedrooms", "bathrooms","price","grade"]
new_df = df[columns_to_keep].copy()
new_df.head()

   bedrooms  bathrooms     price  grade
0         3       1.00  221900.0      7
1         3       2.25  538000.0      7
2         2       1.00  180000.0      6
3         4       3.00  604000.0      7
4         3       2.00  510000.0      8

In [18]:
reg = linear_model.LinearRegression()
reg.fit(new_df[['bedrooms','bathrooms','grade']],new_df.price)

LinearRegression()

In [19]:
reg.coef_

array([ 15876.30885941,  59909.81827712, 177870.80732721])

In [20]:
reg.intercept_

-1002057.3216229795

In [21]:
reg.predict([[3, 2, 6]])

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([232616.08547275])

In [22]:
15876.30885941*3+59909.81827712*2+177870.80732721*6-1002057.3216229795

232616.0854727506